<div class='row'>
  <div class='mx-auto'>
    <div class="card" style="width: 24rem; background: white;">
      <div class="card-body">
<h1>New Full Profile</h1>

<%= render 'form', full_profile: @full_profile %>

<%= link_to 'Back', root_path %>
</div>
</div>
</div>
</div>